.prediction{

  font-size: 20px;
  background-color: rgb(240, 232, 220);
  color: red;
  text-align: center;
  font-weight: bolder;
  padding: 20px;
}

.container{
  max-width: 400px;

  margin: 50px auto;
  text-align: center;
}

.randomButton{
  margin: 20px auto;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: chartreuse;
  color: red;
  cursor: pointer;
}