.App {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.prediction{

  font-size: 20px;
  background-color: rgb(15, 11, 5);
  color: rgb(251, 247, 247);
  text-align: center;
  font-weight: bolder;
  padding: 20px;
  border-radius: 40px 0px;
}

.container{
  max-width: 400px;

  margin: 50px auto;
  text-align: center;
}

.randomButton{
  margin: 20px auto;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(8, 14, 3);
  color: rgb(250, 247, 247);
  cursor: pointer;
}